@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  color: #f0f8ff; /* Alice blue for text, reminiscent of water bubbles */
  background: #0f3057; /* Deep ocean blue for the background */
  font-family: 'Anta', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes at least the full height */
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #0f3057; /* Rich ocean blue for the navbar */
}

.nav-item {
  color: #f0f8ff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #00d9ff; /* Bright ocean blue for hover */
}

.App-header {
  background-color: #00d9ff; /* Teal, representing the shallow ocean waters */
  padding: 20px;
  transition: background-color 0.5s;
}

.App-header:hover {
  background-color: #0f3057; /* Darker teal for hover effect */
}
.Logo {
  background-image: url(./sinkingNYC.png);
}
main {
  padding: 20px;
  flex: 1; /* Allows main content to grow and fill available space */
  background: linear-gradient(to bottom, #00d9ff, #0f3057); /* Gradient from light blue to dark ocean blue */
}

section {
  margin: 20px 0;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff; /* White color for headings */
}

h2 {
  font-size: 3rem;
  color: #ffffff; /* White color for headings */
}


p {
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
  transform-origin: center; /* Ensures zoom effect is centered */
  margin: 0 10px; /* Adds margin to prevent text touching the edges */
}

.details-section .image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.details-section .image-container img {
  width: 50%; /* Adjust as needed */
  cursor: pointer; /* Indicates the images are clickable */
}


p:hover {
  transform: scale(1.05); /* Slightly reduced scale to prevent overflow */
}

.details-section .image-container {
  display: flex;
  justify-content: space-around; /* This will space out the images nicely */
  gap: 20px; /* Increases the space between the images */
}

.details-section .image-container img {
  width: 45%; /* Adjusted width for larger images */
  max-width: 1000px; /* Maximum width for the image */
  height: auto; /* Height is auto to maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the area, useful for different aspect ratios */
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  border-radius: 15px; /* Rounded borders */
}

.details-section .image-container img:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}
#design {
  text-align: center; /* Centers the text inside the section */
  font-size: 1.2em; /* Slightly increases the font size; adjust as needed */
}

#design ul {
  display: inline-block; /* Allows the list to be centered as a block */
  text-align: left; /* Aligns the text inside the list to the left */
}

#design h2 {
  font-size: 1.5em; /* Increases the size of the heading; adjust as needed */
}
#design p {
  text-decoration: underline; /* Underlines the text */
}
