@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  color: #f0f8ff; /* Alice blue for text, reminiscent of water bubbles */
  background: #0f3057; /* Deep ocean blue for the background */
  font-family: 'Anta', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes at least the full height */
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #00587a; /* Rich ocean blue for the navbar */
}

.nav-item {
  color: #f0f8ff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #00d9ff; /* Bright ocean blue for hover */
}

.App-header {
  background-color: #00d9ff; /* Teal, representing the shallow ocean waters */
  padding: 20px;
  transition: background-color 0.5s;
}

.App-header:hover {
  background-color: #0f3057; /* Darker teal for hover effect */
}

main {
  padding: 20px;
  flex: 1; /* Allows main content to grow and fill available space */
  background: linear-gradient(to bottom, #00d9ff, #0f3057); /* Gradient from light blue to dark ocean blue */
}

section {
  margin: 20px 0;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff; /* Bright ocean blue for headings */
}

h2 {
  color: #00d9ff; /* Consistent theme color for headings */
}

p {
  font-size: 1.2rem;
}
